.header__div_h1 {
    text-align: center;
    color: gray;
    font-family: 'Oswald', sans-serif;
}

.header__div_nav {
    display: inline-block;
    color: red;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}